* {font-family: Verdana, Geneva, Tahoma, sans-serif;}
#calc {
    width: 455px;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 40, 40);
}
#display {
    width: 95%;
    height: 50px;
    font-size: 40px;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
}
#btns {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.btn {
    width: 100px;
    height: 100px;
    font-size: 24px;
    margin: 2px;
    border-radius: 50%;
    border: none;
    background-color: rgb(124, 120, 120);
    color: white;
}
.spcl {
    background-color: rgb(216, 78, 27);
}